@media(max-width: 481px) {

    /* Header */
    header {
        width: 100%
    }

    .logo-header {
        padding: 15px 0 0 300px;
        
    }

    #burguer {
        margin-left: 50px;
        margin-top: -65px;
        font-size: 25px;
    }

    .menu-header {
        margin-left: 50px;
        width: 40%;
        margin-top: 3px;
    }

    .menu-header li a {
        font-size: 15px;
    }

    /* Main */
    .main-container {
        padding: 30px 0;
        display: inline-block;
    }

    .icons-main {
        width: 60%;
        height: 100%;
        align-items: center;
        margin: auto;
    }


    #icons-redes li {
        display: inline;
        padding: 5px;
        align-items: center;
    }

    .description-main {
        background-size: 150px;
        background-position-x: right;
        width: 95%;
        padding: 20px;
        margin-top: 100px;
        height: 400px;
    }

    #main-title {
        display: flex;
        margin-top: 50px;
        font-size: 35px;
        text-align: start;
    }

    #main-description {
        font-size: 15px;

    }

    .photo-main {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .box {
        width: 50%;
        height: 300px;
        margin: 20px auto;
        position: sticky;
    }

    .box::after {
        background-size: 180px;


    }

    /* Projetos */

    .projects-container {
        padding: 50px 0;
        width: 100%;
        height: 100%;
    }

    .box-projects {
        width: 100%;
        height: 100%;
        margin-top: 0;
    }

    .title-projects h2 {
        font-size: 28px;
        margin-top: 0;
    }

    .title-projects h2::after {
        height: 5px;
        margin-left: 46%;
        width: 25%;
        margin-top: 2%;
    }

    .projects {
        width: 100%;
        margin: 0;
        height: 100%;
        display: block;
    }

    .project-rdy {
        display: block;
        flex-direction: none;
        flex-wrap: none;
        width: 80%;
        height: 460px;
        margin: 30px auto;
        margin-bottom: 70px;

    }

    .project-rdy:hover {
        transform: none;
    }

    #text-project {
        width: 100%;
        height: 45%;
        margin: auto;
        font-size: 12px;
    }

    .icons-projects {
        margin: auto;
    }

    /* Sobre Mim */

    .sobre-container {
        padding: 0;
        gap: 0;
    }

    .box-sobre {
        width: 95%;
        height: 100%;
        margin: 0;
    }

    .title-sobre h2 {
        font-size: 28px;
        margin-top: 30px;
    }

    .title-sobre h2::after {
        height: 5px;
        margin-left: 44%;
        width: 23%;
        margin-top: 2%;
    }

    .title-sobre p {
        font-size: 15px;
        margin-bottom: 30px;
    }

    /* Certificados */

    .certificados-container {
        padding: 0;
    }

    .box-certificados {
        width: 95%;
        height: 100%;
    }

    .title-certificados h2 {
        font-size: 25px;
        margin-top: 30px;
    }

    .title-certificados h2::after {
        height: 5px;
        margin-left: 44%;
        width: 23%;
        margin-top: 2%;
        margin-bottom: 30px;
    }

    .caixa {
        width: 80%;
        height: 380px;
        margin: auto;
        margin-bottom: 70px;
    }

    .caixa div {
        min-width: 16rem;
        max-height: 21rem;
    }

    #cert1,
    #cert2,
    #cert3,
    #cert4 {
        font-size: 15px;
    }

    /* Contato */

    .contato-container {
        padding: 0;
        gap: 0px;
        display: block;
        padding: 50px 0;
    }

    #title-contato {
        font-size: 25px;
        padding-top: 70px;
    }

    #title-contato::after {
        height: 5px;
        margin-left: 44%;
        width: 17%;
        margin-top: 2%;
    }

    .local-contact, .phone-contact, .email-contact {
        width: 55%;
        padding: 20px 0;
        margin: auto;
    }

    .local-contact h2, .phone-contact h2, .email-contact h2 {
        font-size: 20px;
    }

    .local-contact p, .phone-contact p, .email-contact p {
        font-size: 12px;
        margin: auto;
    }


    /* BTN WHATSAPP */

    .btn-whatsapp {
        bottom: 7px;
        right: 7px;
        font-size: 33px;
        width: 40px;
        height: 40px;
        padding: 5px;
    }

    .btn-whatsapp a i {
        font-size: 24px;
        margin-left: 5px;
    }

    /* Footer */

    .footer-info {
        width: 95%;
    }

    .footer-info h1 {
        font-size: 25px;
    }

    .footer-info p {
        font-size: 15px;
    }

    #text-yellow2 {
        font-size: 15px;
    }
}